.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: "10px";
    border-radius: 10;
    padding: 1%;
    font-size: 1.2em;
    width: 80%;
    margin-left: '50px';
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #3b6978;
    padding: 2%;
    width: 20%;
    display: inline-block;
    border: none;
  }